<phpunit >
    <php>
        <server name="KERNEL_CLASS" value="Pamil\CartCommand\Infrastructure\CartCommandKernel" />
    </php>
    <testsuite name="Pamil\CartCommand">
        <directory suffix="Test.php">tests/</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
